<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main_no_sidebar.html">
    <div layout:fragment="myContent" >
        <div class="row">
            <div class="col-sm-8">
                <form action="/add" method="post" class="form">
                    <div class="form-group">
                        <label>
                            NAME :
                        </label>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>
                            PRICE :
                        </label>
                        <input type="number" name="price" class="form-control">
                    </div>
                    <button class="btn btn-success">ADD</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table cellpadding="20" class="table table-stripped">
                    <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            NAME
                        </th>
                        <th>
                            PRICE
                        </th>
                        <th>
                            DETAILS
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "item : ${itemler}">
                        <td th:text = "${item.id}"></td>
                        <td th:text = "${item.name}"></td>
                        <td th:text = "${item.price}"></td>
                        <td>
                            <a th:href = "@{'/details/'+${item.id}}">DETAILS</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</html>